*lmp_DEV_*
Ellipsoid_262Katoms/*/dump.polymer
Ellipsoid_262Katoms/*/data_out.*
Ellipsoid_262Katoms/nve_asphere_test/kk_g1t2/data_out.20000
Ellipsoid_262Katoms/nve_asphere_test/vanilla_np6/data_out.20000
Ellipsoid_262Katoms/nve_asphere_test/vanilla_np6/dump.polymer
Ellipsoid_262Katoms/nve_asphere_test/kk_g1t2/dump.polymer
AtomVecEllipKK_Tests/*dump.*
AtomVecEllipKK_Tests/*/dump.*
AtomVecEllipKK_Tests/*/*/dump.*
AtomVecEllipKK_Tests/*/*/*/dump.*
